<%- include("partials/header"); %>
<link rel="stylesheet" href="/css/browseusers.css" />
<!-- Link to the CSS file -->

<main class="container mt-5">
  <h1>Browse Users</h1>
  <ul class="list-group">
    <% users.forEach(user => { %>
    <li class="list-group-item">
      <div>
        <span><%= user.username %></span>
        <div class="email"><%= user.email %></div>
      </div>
      <% if (friendIds.includes(user._id.toString())) { %>
      <button class="btn btn-success btn-sm" disabled>Already Friends</button>
      <% } else if (sentIds.includes(user._id.toString())) { %>
      <button class="btn btn-secondary btn-sm" disabled>Request Sent</button>
      <% } else { %>
      <form action="/friends/request" method="POST" class="d-inline">
        <input
          type="hidden"
          name="recipientUsername"
          value="<%= user.username %>"
        />
        <button class="btn btn-primary btn-sm">Send Friend Request</button>
      </form>
      <% } %>
    </li>
    <% }); %>
  </ul>
</main>

<%- include("partials/footer"); %>
